.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aa {
  color: rgb(206, 22, 22);
}

@font-face {
  font-family: "BlackhanSans";
  src: url("./fonts/BlackHanSans-Regular.ttf");
}
@font-face {
  font-family: "dohyun";
  src: url("./fonts/DoHyeon-Regular.ttf");
}
@font-face {
  font-family: "score";
  src: url("./fonts/SCDream7.otf");
}
